<!doctype html>
<html lang="uz">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} • Admin</title>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="app">
      {{> sidebar}}
      <main class="main">
        {{> topbar}}
        <section class="content">
          {{{body}}}
        </section>
      </main>
    </div>
    <script src="/js/app.js" defer></script>
  </body>
</html>
